
/* ----page styles-------------------------------------------------------------------------- */

html,body { height:100%; }

.no-padding {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

h1 {
    margin:0;
}

/* ----fonts-------------------------------------------------------------------------- */
@font-face {
    font-family: 'Roboto';
    src: url('src/fonts/Roboto-Regular.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */

    font-family: 'Roboto Medium';
    src: url('src/fonts/Roboto-Medium.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
    
    font-family: 'Roboto Bold';
    src: url('src/fonts/Roboto-Bold.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}  

.font-20 {
    font-size: 20px;
}

.font-bookman {
    font-family: Bookman Old Style; 
    font-weight: 700;
}

.font-roboto {
    font-family: 'Roboto', sans-serif;
}

.font-roboto-medium {
    font-family: 'Roboto Medium', sans-serif;
}

.font-roboto-bold {
    font-family: 'Roboto Bold', sans-serif;
    font-weight: bold; 
}


/* ----heights-------------------------------------------------------------------------- */
.h-85 {
    height: 85%;
}

.h-60 {
    height: 60%;
}

.h-45 {
    height: 45%;
}

.h-45 {
    height: 45%;
}
.h-44 {
    height: 44%;
}
.h-43 {
    height: 43%;
}

.h-40 {
    height: 40%;
}
.h-15 {
    height: 15%;
}

.h-14 {
    height: 14%;
}

.h-11 {
    height: 11%;
}

.h-5 {
    height: 5%;
}

.h-10 {
    height: 10%;
}

.w-45 {
    width: 45%;
}

.w-33 {
    width: 33%;
}

/* ----colors-------------------------------------------------------------------------- */
.color-dark-blue {
    color: #003791;
}

.color-white {
    color: #fcfcfc;
}

.color-gray {
    color: #48505A;
}

.background-light-blue {
    background:#8ab4d8;
}

.background-blue {
    background:#396992;
}

.background-light-gray {
    background:#e7ecee;
}

.background-dashboard-headers {
    background:#c7d4e2;
}

.background-white {
    background:#ffffff;
}

.background-dark-blue {
    background:#14395c;
}

.background-dark-light-blue {
    background-image: linear-gradient(#396992 , #14395c);
}


.border-dev {
    border: solid 1px red;
}


/* ----sidebar css-------------------------------------------------------------------------- */

.sidebar-item, .sidebar-logo {
    padding: 10px;
}

ul.nav > .sidebar-item > a > p { 
    font-size: 13px !important; 
}

ul.nav > .sidebar-item > a:hover { 
    color: #003791 !important; 
}

ul.nav > .sidebar-item > a:hover { 
    color: #003791 !important; 
}

ul.nav > .sidebar-item:hover { 
    background-color: rgba(115, 145, 165, 0.678) !important; 
}

ul.nav > .sidebar-item-selected { 
    background-color: rgba(115, 145, 165, 0.678) !important; 
}

/* ----header css-------------------------------------------------------------------------- */

.display-table {
    display: table;
}

.display-table-cell-middle {
    display:table-cell; 
    vertical-align:middle;
}


/* ----form-control-------------------------------------------------------------------------- */
.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.btn.sharp {
    border-radius:0;
}

.btn.raised {
	box-shadow: 0 3px 0 0 #032835;
}

.btn.raised:active, .btn.raised.active  {
    color: white !important;
	background: #3382cc;
	box-shadow: 0 3px 0 0 #3382cc;
	margin-bottom: -2px;
	margin-top: 2px;
}

/* ----table formatting-------------------------------------------------------------------------- */

.tableFixHead    { overflow-y: auto; height: 100px; }
.tableFixHead th { position: sticky; top: 0; }

/* Just common table stuff. Really. */
table  { border-collapse: collapse; width: 100%; }
th, td { padding: 8px 16px; }
th     { background:#ffffff; }
  


