<nav class="d-none d-sm-block sidebar background-light-blue" style="width: 95px;">
  <div class="h-100" style="position: relative;">
    <ul class="nav flex-column">
      <app-sidebar-li
        [liTitle]="''"
        [iconSrc]="'assets/icons/eta-symbol.png'"></app-sidebar-li>
      <app-sidebar-li
        [liTitle]="'Production'"
        [iconSrc]="'assets/icons/production-icon-t.png'"></app-sidebar-li>
      <app-sidebar-li
        [liTitle]="'Inventory'"
        [iconSrc]="'assets/icons/inventory-icon-t.png'"></app-sidebar-li>
      <app-sidebar-li
        [liTitle]="'Purchasing'"
        [iconSrc]="'assets/icons/purchasing-icon-t.png'"></app-sidebar-li>
      <app-sidebar-li
        [liTitle]="'Sales Orders'"
        [iconSrc]="'assets/icons/sales-orders-icon-t.png'"></app-sidebar-li>
    </ul>
  </div>
</nav>