<div class="page-container h-100">
    <div class="container-fluid h-100">
        <div class="row h-100">
            <app-sidebar></app-sidebar>
            <div class = "h-100 border-dev" id="area-dashboard" style="width: calc(100% - 95px);"></div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>

<!--
<nav class="d-none d-sm-block sidebar background-light-blue" style="width: 95px;">
    <div class="h-100" style="position: relative;">
        <ul class="nav flex-column">
        <li class="w-100 sidebar-logo background-dark-blue" >
            <img src="assets/icons/eta-symbol.png" alt="Card image cap" width="100%">
        </li>
        <li class="w-100 sidebar-item" >
            <a class="active color-dark-blue" href="#">
                <img src="assets/icons/production-icon-t.png" alt="Card image cap" width="100%">
                <p align="center">Production</p>
            </a>
        </li>
        <li class="w-100 sidebar-item">
            <a class="active color-dark-blue" href="#">
                <img src="assets/icons/inventory-icon-t.png" alt="Card image cap" width="100%">
                <p align="center">Inventory</p>
            </a>
        </li>
        <li class="w-100 sidebar-item">
            <a class="active color-dark-blue" href="#">
                <img src="assets/icons/purchasing-icon-t.png" alt="Card image cap" width="100%">
                <p align="center">Purchasing</p>
            </a>
        </li>
        <li class="w-100 sidebar-item">
            <a class="active color-dark-blue" href="#">
                <img src="assets/icons/sales-orders-icon-t.png" alt="Card image cap" width="100%">
                <p align="center">Sales Orders</p>
            </a>
        </li>
        <li class="w-100 background-dark-blue" style="position: absolute; bottom: 0;">
            <div class="d-flex">
                <div class="w-50 p-1">
                    <a class="active color-dark-blue" href="#">
                        <img src="assets/icons/settings-icon.png" alt="Card image cap" width="100%">
                    </a>
                </div>
                <div class="w-50 p-1">
                    <a class="active color-dark-blue" href="#">
                        <img src="assets/icons/support-icon.png" alt="Card image cap" width="100%">
                    </a>
                </div>
            </div>
            
        </li>
        </ul>
    </div>
</nav>
-->